body {
    background-color: #ffffff !important;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

h1,
h2 {
    color: #444;
}

h3 {
    color: #999;
}

.sideMenu {
    position: fixed;
    background: #ffffff;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    &__brandName {
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
            color: black;
            font-size: 2rem;
            font-weight: bold;
            @media (max-width: 320px) {
                font-size: 1rem;
            }
            @media (min-width: 321px) and (max-width: 376px) {
                font-size: 1.20rem;
            }
            @media (max-width: 575.98px) {
                font-size: 1.50rem;
            }
            @media (min-width: 576px) and (max-width: 767.98px) {
                font-size: 1.75rem;
            }
        }
    }
    ul ul {
        position: absolute;
        left: 250px;
        width: 120px;
        display: none;
        background: rgb(215, 234, 240);
        font-size: 0.75rem;
    }
    ul .dropdown {
        position: relative;
    }
    ul .dropdown:hover ul {
        display: initial;
    }
    li {
        padding: 0.625rem 2.5rem;
        display: flex;
        align-items: center;
        position: relative;
         :hover {
            background: rgb(215, 234, 240);
            color: black;
        }
        a {
            i {
                font-size: 1rem;
                color: black;
                padding-right: 1rem;
                @media (max-width: 320px), (min-width: 321px) and (max-width: 376px), (max-width: 575.98px), (min-width: 576px) and (max-width: 767.98px) {
                    font-size: 2rem;
                }
            }
            span {
                color: black;
                font-size: 1.5rem;
                @media (max-width: 320px), (min-width: 321px) and (max-width: 376px), (max-width: 575.98px), (min-width: 576px) and (max-width: 767.98px) {
                    display: none;
                }
                @media (min-width: 768px) and (max-width: 991.98px),
                (min-width: 992px) and (max-width: 1299.98px) {
                    font-size: 1rem;
                }
            }
        }
        @media (min-width: 768px) and (max-width: 991.98px) {
            padding: 0.625rem 0.5rem;
        }
        @media (min-width: 992px) and (max-width: 1299.98px) {
            padding: 0.625rem 1rem;
        }
    }
    @media (max-width: 320px),
    (min-width: 321px) and (max-width: 376px),
    (max-width: 575.98px),
    (min-width: 576px) and (max-width: 767.98px) {
        align-items: center;
    }
}

.mainContent {
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
    background: #f1f1f1;
    &__header {
        position: fixed;
        top: 0;
        right: 0;
        width: 80vw;
        height: 10vh;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
        z-index: 1;
        &__nav {
            width: 90%;
            display: flex;
            align-items: center;
            &__search {
                flex: 3;
                display: flex;
                justify-content: center;
                input[type=text] {
                    border: none;
                    background: #f1f1f1;
                    padding: 0.625rem;
                    width: 50%;
                }
                button {
                    width: 2.5rem;
                    height: 2.5rem;
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        width: 1.875rem;
                        height: 1.875rem;
                    }
                }
            }
            &__user {
                flex: 1;
                display: flex;
                justify-content: space-between;
                align-items: center;
                &__imgCase {
                    position: relative;
                    width: 3.125rem;
                    height: 3.125rem;
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
    &__contentBody {
        position: relative;
        margin-top: 15rem;
        background: #f1f1f1;
        &__cards {
            padding: 1.25rem 0.9375rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            &__card {
                width: 21.875rem;
                height: 9.375rem;
                background: white;
                margin: 1.25rem 0.625rem;
                display: flex;
                align-items: center;
                justify-content: space-around;
                box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                @media (min-width: 377px)and(max-width: 575.98px) {
                    width: 23rem;
                    margin: 1.25rem 1.25rem 0rem 6rem;
                }
                @media (min-width: 768px) and (max-width: 991.98px) {
                    width: 28rem;
                }
                @media (min-width: 992px) and (max-width: 1299.98px) {
                    width: 35rem;
                }
                @media (min-width: 2500px) {
                    width: 18rem;
                }
            }
        }
        @media (max-width: 320px),
        (min-width: 321px) and (max-width: 376px),
        (max-width: 575.98px),
        (min-width: 576px) and (max-width: 767.98px),
        (min-width: 768px) and (max-width: 991.98px),
        (min-width: 992px) and (max-width: 1299.98px),
        (min-width: 1300px) and (max-width: 1531.98px) {
            margin-top: 5rem;
        }
    }
}